<Row class="datasource-content" style="height: 100%">
    <Col span="16" class="datasource-content-left">
    <Row class="datasource-header">
        <Col>
        <span></span>
        <Divider type="vertical"/>
        Data Instances
        </Col>

    </Row>
    <Table border :columns="datasourceColumns" :data="dataInfos"></Table>
    <div style="margin: 10px;overflow: hidden">
        <div style="float: right;">
            <Page :total="totalnum" :current="currentpage" :page-size="10" @on-change="changePage"></Page>
        </div>
    </div>
    </Col>

    <Col span="8" class="operation-area">
    <Row class="operation-header">
        <Col>
        <span></span>
        <Divider type="vertical"/>
        Add
        </Col>

    </Row>
    <!--<Form :label-width="65" v-for="element in elements">-->
    <!--<FormItem label="Name" v-if="element.type='field'" >-->
    <!--<Input type="text" placeholder="Dataset" v-model="input_datasourcename">-->
    <!--</Input>-->
    <!--</FormItem>-->
    <!--<FormItem label="Engine" placeholder="Engine">-->
    <!--<Select v-model="selected_enginetype">-->
    <!--<Option :value="item.url" v-for="item in dataengines">{{item.name}}</Option>-->
    <!--</Select>-->
    <!--</FormItem>-->
    <!--<FormItem label="数据集" placeholder="数据集">-->
    <!--<Select v-model="selected_dataset">-->
    <!--<Option :value="item.url" v-for="item in mydataset">{{item.name}}</Option>-->
    <!--</Select>-->
    <!--</FormItem>-->
    <!--<FormItem>-->
    <!--<Button type="primary" @click="load_DataSource">创建</Button>-->
    <!--</FormItem>-->
    <!--</Form>-->
    <vue-form-generator :schema="gen_schema" :model="model" :options="formOptions"></vue-form-generator>
    </Col>

    <div>
        <Modal v-model="show_webui" fullscreen :title="dialog_title" footer-hide style="background: #191d21">
            <Row style="height: 100%">
                <Col span="17" style="height: 100%;">
                <iframe id="iframe_webui"
                        ref="iframe_webui"
                        :src="`http://10.0.88.13:8888/gStorems/admin_root.html`"
                        frameborder="0" width="100%"
                        height="100%" scrolling="yes"></iframe>
                </Col>
                <Col span="7" style="height: 100%;border-left: 2px solid #5b6270">
                <Row class="operation-header">
                    <div class="mydivier"></div>
                    数据源信息
                </Row>
                <Row style="padding-left: 10px; margin-top: 10px">
                    <Form :label-width="80">
                        <FormItem label="Datasource Name">
                            <Input :value="selected_datasource.name" readonly></Input>
                        </FormItem>
                        <FormItem label="Dataset">
                            <Input :value="selected_datasource.dataset" readonly></Input>
                        </FormItem>
                        <FormItem label="Dataset Engine引擎">
                            <Input :value="selected_datasource.enginetype" readonly></Input>
                        </FormItem>
                        <FormItem label="连接字符串">
                            <Input value="jdbc://wwwwww" readonly></Input>
                        </FormItem>
                    </Form>
                </Row>
                </Col>
            </Row>
        </Modal>
    </div>
    <div>
        <Modal v-model="show_notebook" fullscreen :title="dialog_title" footer-hide style="background: #191d21">
            <Row style="height: 100%">
                <Col span="17" style="height: 100%;">
                <iframe id="iframe_simba"
                        ref="iframe_simba"
                        :src="`http://10.0.88.41:9995/#/notebook/2DMPKVR1U`"
                        frameborder="0" width="100%"
                        height="100%" scrolling="yes"></iframe>
                </Col>
                <Col span="7" style="height: 100%;border-left: 2px solid #5b6270">
                <Row class="operation-header">
                    <div class="mydivier"></div>
                    数据源信息
                </Row>
                <Row style="padding-left: 10px; margin-top: 10px">
                    <Form :label-width="80">
                        <FormItem label="Datasource Name">
                            <Input :value="selected_datasource.name" readonly></Input>
                        </FormItem>
                        <FormItem label="Dataset">
                            <Input :value="selected_datasource.dataset" readonly></Input>
                        </FormItem>
                        <FormItem label="数据集引擎">
                            <Input :value="selected_datasource.enginetype" readonly></Input>
                        </FormItem>

                        <FormItem label="连接字符串">
                            <Input value="jdbc://wwwwww" readonly></Input>
                        </FormItem>
                    </Form>
                </Row>
                </Col>
            </Row>
        </Modal>
    </div>
</Row>
